* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

//Colors
$color1: rgb(132, 252, 246);
$color2: rgb(92, 144, 255);

//Fonts
$font1: 'Fjalla One', sans-serif;

//Font-Size
$Fontsize-sm: 20px;
$Fontsize-md: 30px;
$Fontsize-lg: 50px;


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background-image: url(../img/Fondo\ Servicios.jpg);
    background-size: cover;
    font-family: $font1;
    font-weight: bold;
    font-size: $Fontsize-sm;
    background-color: rgba(128, 128, 128, 0.199);
}

#galeria {
    img {
        width: 100%;
        height: 300px;
        border: solid 2px lightgrey;
    }

    img:hover {
        transform: scale(1.02);
        transition: 100ms;
    }

    .col-lg-4 {
        padding: 20px;
    }

    p {
        text-shadow: 2px 2px 5px rgba(83, 82, 82, 0.637);
    }
}

h1 {
    font-family: $font1;
    font-weight: bold;
    font-size: $Fontsize-lg;
}

.tabares {
    color: $color1;
    text-shadow: 0 0 3px black;
}

.carousel-inner {
    max-height: 30rem;
}

button:hover {
    box-shadow: 0 4px 16px rgb(255, 255, 255);
    transform: scale(1.05);
}

footer {
    background-color: black;
    min-height: 100px;

    p {
        color: white;
        text-align: center;
    }
}

.span {
    font-weight: bold;
    color: $color2;
    font-size: $Fontsize-sm;
}

#redes {
    font-size: $Fontsize-md;
    padding: 0 10;
}