* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.tabares{
    color: rgb(132, 252, 246);
    text-shadow: 0 0 3px black;
}

.logo{
    height: 100px;
    width: 100px;
    display: flex;
    padding: 5px;
}

.carousel-inner{
max-height: 30rem;
}


body{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

